<!DOCTYPE html>
<html>
  <head>
    <title>Instawear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel=”shortcut icon” href=”%PUBLIC_URL%/favicon.ico”>
    <script src="https://kit.fontawesome.com/1316928fe2.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="gray-background">
    <%= yield %>
  </body>
</html>
